<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <!-- Bootstrap CSS, JS, and jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <svg class="bi bi-chevron-contract" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.646 13.854a.5.5 0 0 0 .708 0L8 10.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zm0-11.708a.5.5 0 0 1 .708 0L8 5.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708z"/>
</svg>

        <a class="navbar-brand" href="#">EKS   </a>




  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">


      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">Team</a>
      </li>

    </ul>

  </div>
</nav>

<header class="bg-light text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-black" >Meet the Team</h1>
     </div>
</header>

<div class="container"  >



  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
          <img src="https://pbs.twimg.com/profile_images/797550638251053056/aWcb8h3-_400x400.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Ekin Silahlıoğlu</h5>
          <div class="card-text text-black-50">Senior Computer Engineering Student</div>
        </div>
      </div>
    </div>

   
<div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
          <img src="https://pbs.twimg.com/profile_images/1189715120827650048/F-Rhzps-_400x400.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Kadir Akgül</h5>
          <div class="card-text text-black-50">Senior Computer Engineering Student</div>
        </div>
      </div>
    </div>

<div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://pbs.twimg.com/profile_images/1240294958063652864/yTgOTdT1_400x400.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Selin Yeşilselve</h5>
          <div class="card-text text-black-50">Senior Computer Engineering Student</div>
        </div>
      </div>
    </div>
</div>
</div>



  </body>
</html>
