<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <!-- Bootstrap CSS, JS, and jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>



  </head>
  <body>

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <svg class="bi bi-chevron-contract" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.646 13.854a.5.5 0 0 0 .708 0L8 10.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zm0-11.708a.5.5 0 0 1 .708 0L8 5.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708z"/>
</svg>
      <!-- TYPICALLY WE HAVE A BRAND LINK -->
        <a class="navbar-brand" href="#">EKS  </a>



   <!-- THEN WE PUT AN UNORDERED LIST INSIDE OF A COLLAPSE DIV -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">

       <!-- EVERY ITEM IN NAVBAR IS JUST A LIST ITEM -->
      <li class="nav-item active">
        <a class="nav-link" href="#" >Home</a>
      </li>

      <!-- HERE IS ANOTHER ONE, BUT THE LINK DOESNT "LOOK" ACTIVE -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">Team</a>
      </li>

    </ul>

  </div>
</nav>
	<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="background-image: url('https://images.unsplash.com/photo-1581215524789-83361d941827?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')">
  		<div class="col-md-5 p-lg-5 mx-auto my-5">
    		<h1 class="display-4 font-weight-normal font-italic text-white">WELCOME</h1>
        <br> 
   			 <p class="lead font-weight-normal text-white font-italic font-weight-light">The first thing to do is take your picture. Then your picture go through some processes. Result of that, EKS will be there for you to start conversation. Never forget that your conversation will shaped by your sentences.
         </p>
   			 
  		</div>
  		<div class="product-device shadow-sm d-none d-md-block"></div>
  	<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>

<div class="section-heading text-center">
        <h2>Let's Begin...</h2>
        
        <hr>
      </div>






<div class="card text-center">
  <div class="card-body">
    <p class="card-title">By clicking the button you will start the process, you will encounter with a camera to take a picture of you. Then to start your conversation with EKS, please remain your current emotion while you close the opened tab.</p>
   
    <a href="/exec" class="btn btn-info btn-xl  badge-pill  mt-5 ">Start Chatting</a>
  </div>
  
</div>

<br>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; 2020</small>
    </div>
  </footer>



  </body>
</html>






